{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "protectorateplasmaexplosion3",
      "fuzzAngle" : 359
    },
    {
      "action" : "sound",
      "options" : [
        "/sfx/gun/grenadeblast_electric1.ogg",
        "/sfx/gun/grenadeblast_electric2.ogg",
        "/sfx/gun/grenadeblast_electric3.ogg"
      ]
    },
    {
      "action" : "light",
      "color" : "blue"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 4,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.5,
      "delaySteps" : 2
    }

  ]
}
